<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/Picture1.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="telegram"src="/img/Picture1.jpg">
    </div>
    
     {{>footer}}

</body>
</html>